# Liquids
Cow milk|牛奶|Kuhmilch|95|95
Olive oil 1l|???|Olivenöl 1l|695|695
Ja milk drink (banana)|???|Ja Milchdrink Banane|89
Orange juice nectar 1.5l|???|Orangennektar 1.5l|139|139
Tamari glutenfree soy sauce 1l|???|Tamari glutenfreie Sojasoße 1l|999|999
Oat milk 1.5l|???|Hafermilch 1,5l|349|349

# Meats
Chicken mortadella|鸡肉莫塔德拉香肠|Geflügel-Mortadella|129|129
Thin beef steaks|薄切牛排|Rinder-Minutensteaks|599|599
Chicken breast|鸡胸肉|Hühnerbrust|699|699
Beef soup meat|牛肉|Rindersuppenfleisch|849|849
Beef ground meet 500g|??? 500g|Rinderhackfleisch 500g|899|899
Yuru spicy duck wings 20g|???|Yuru scharfe Entenflügel 20g|399|399

# Fruits
Banana|香蕉|Banane|249|249

# Vegetables
Bell peppers|甜椒|Paprika|299|229
Mixed short chili peppers (red&green) 100g|??? 100g|Gemischte kurze Chilishoten (rot&grün) 100g|299|299
Onions|???|Zwiebeln|199|199
Iceberg lettuce|???|Eisbergsalat|89|89
Cucumber|???|Gurke|119|119
Green onions|???|Lauchzwiebeln|59|59
Celery|???|Staudensellerie|149|149

# Spices
TanTanXiang chopped red chili peppers 425g|??? 425g|TanTanXiang gehackte rote Chilischoten 425g|299|299
Taco spice mix|???|Taco Würzmischung|99|99

# Cheeses
Grana Padano ground cheese|???|Grana Padano gerieben|329|329

# Other
Chanterelle mushrooms|鸡油菌|Pfifferlinge|479|479
Tortilla chips (salt)|玉米片???|Totilla-Chips Salzgeschmack|149|99
Tortilla chips (cheese)|玉米片???|Tortilla-Chips Käsegeschmack|149|149
Soy-Yoghurt Alpro Strawberry|Alpro草莓味豆酸奶|Soja Joghurt Alpro Erdbeere|219|219
Soy-Yoghurt Alpro Natural|Alpro原味豆酸奶|Soja Joghurt Alpro Natur|219|219
Soy-Yoghurt Alpro Peach|Alpro桃味豆酸奶|Soja Joghurt Alpro Pfirsich|219|219
Greek Yoghurt Elinas Blueberry|Elinas蓝莓希腊酸奶|Griechischer Joghurt Elinas Heidelbeere|229|229
Eggs 12pack|???|Eier 12er Pack|249|249
Fresh egg waffles|???|Frischeiwaffeln|159|159
WGDC instant ramen beef-flavored 5x100g|???|WGDC Ramennudeln Rindfleischgeschmack 5x100g|695|695
Luosifen noodle soup 300g|???|Luosifen Nudelsuppe 300g|263|263
Luosifen noodle soup 400g|???|Luosifen Nudelsuppe 400g|287|287
Pretzel stick|???|Laugenstange|59|59
Crunchy oat cereal|???|Knusper-Hafermüsli|799|799
Chocolate ginger bread|???|Schokolebkuchen|369|369

# Non-foods
Guhl shampoo|???|Guhl Antischuppenschampoo|399|399
Denkmit mild detergent|???|Denkmit Feinwaschmittel|215|215
