{% extends '_base.html' %}

{% block title %}List | {% endblock title %}

{% block content %}
<h2>{{ list.name }}</h2>
<form action="/list/bought" method="POST">
    <input type="hidden" name="list_id" value="{{ list.id }}" />
    {% for item in items %}
    <div>
        <input type="checkbox" name="item_ids" value="{{ item.id }}" />
        <a href="/item?item_id={{ item.id }}">{{ item.en_name }}</a>
    </div>
    {% endfor %}
    <br />
    <button type="submit">Bought</button>
</form>
<div class="link_box">
    <a href="/item/add?list_id={{ list.id }}">Add items</a>
</div>
<div class="link_box">
    <a href="/list/modify?list_id={{ list.id }}">Modify list</a>
</div>
{% endblock content %}
