{% extends '_base.html' %}

{% block title %}Login | {% endblock title %}

{% block content %}
<form action="/auth/login" method="post" >
    <label>User ID:</label>
    <input type="text" id="user_id" name="user_id" placeholder="Enter your user ID" required>
    <br>
    <label>Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>
    <br>
    <input type="hidden" id="forward_to" name="forward_to" value="{{ forward_to }}">
    <button type="submit">Login</button>
</form>
<a href="/user/signup">Or sign up for a new account...</a>
{% endblock content %}
